.content{
    height:90vh;
    margin: 1em 2em;
    padding: 0 1em;
}

@media only screen and (max-width: 768px) {
    .content{
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
}