.aside{
    grid-column-start: 1;
    grid-column-end: 2;
    height:90vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: scroll;
    margin: 1em;
    padding: 1em;
}

.link-card{
    background-image: linear-gradient(to right, rgb(255, 125, 125),rgb(255, 175, 155));
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 15em;
    height:7em;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 1em; 
    margin-bottom: 2em;
}

.link-card a, .link-card p{
    padding:1em;
    color:black;
    text-decoration: none;
}

.link-card p{
    font-size: 0.7em
}

.link-card a:hover{
    color:white;
}

.link-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link-header img{
    height:10vh;
    width: 10vw;
}


@media only screen and (max-width: 768px) {
.aside{
    display: none;
}

}