.aside{
    display: block;
    grid-column-start: 1;
    grid-column-end: 2;
    height:90vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: scroll;
    padding: 1em 8em;
    margin: 0 1em;
}

.link-card-anchor{
    text-decoration: none;
    color: white;
}

.link-card{
    background-image: linear-gradient(to right, rgb(255, 125, 125),rgb(255, 175, 155));
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 26vw;
    height:25vh;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 1em; 
    margin-bottom: 2em;
    /* padding: .5em 0; */

}

.link-card a, .link-card p{
    padding:1em;
    color:black;
    text-decoration: none;
}

.link-card p{
    font-size: 0.7em
}

.link-card a:hover{
    color:white;
}

.link-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link-header img{
    height:10vh;
    width: 10vw;
}


@media only screen and (max-width: 768px) {
.aside{
    display: none;
}

.link-header{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.link-card{
    width: 80%;
    height:6em;
    border-radius: .1em; 
    margin-bottom: .7em;
    opacity: 1;
}

.link-card a{
    font-size: .5em;
    margin: 0;
    padding: 0;
}

.link-card p{
    font-size: 0.1em;
    padding:1em;
}
.link-header img{
    width: 85%;
    max-height:70%;
}
}