.resume{
  margin: 0 2em;
}

.resume ul{
  padding: 1em;
}

.resume-top{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.resume h2 {
  font-size: 1.75rem;
  padding-bottom: 1%;
}

.resume p {
  padding-bottom: 5%;
}

.work-container {
  display: flex;
  justify-content: space-between;
}

.resume-top{
  margin: 1em 0;
}

.resume .project-container {
  width: 50vw;
  height: 50vh;
  margin-bottom: 5em;
}

.project-header{
  font-size: 2rem;
}

.portfolio{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.resume img {
  width: 40vw;
  height: 30vh;
}

@media only screen and (max-width: 768px) {
  .resume {
    margin: 3em 1em;
  }

}