.header{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.header img{
    width: 25em;
    height: 15em;
}

.links{
    display: flex;
    justify-content: space-between;
}

.links a{
    color: black;
}

.description p{
    margin: 2em 0;
    line-height: 1.5em;
}

@media only screen and (max-width: 768px) {
    .header img{
        width: 10em;
        height: 10em;
    }
}

