.header{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.header img{
    width: 25em;
    height: 15em;
}

.links{
    display: flex;
    justify-content: space-between;
}

.links a{
    color: black;
}

.description p{
    margin: 2em 0;
    line-height: 1.5em;
}

@media only screen and (max-width: 768px) {
    .project{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    
    .links h1{
        font-size: 1.2em;
    }
    
    .header img{
        width: 15em;
        height: 10em;
    }

    .description{
        margin: 0 3em;
    }
}

