.portfolio img{
    width: 50vw;
}
.see-more{
    display: none;
}

.mobile-links{
    display: none;
}

.portfolio p{
    background-color: rgb(221, 221, 221);
    color: rgb(0, 0, 0);
    border: 1px solid rgb(245, 245, 245);
    margin: 2em 7em;
    padding: 1em;
    line-height: 1.5em;
}

.project-images{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.project-container{
    width: 40vw;
    margin: 1em;
    padding: 1em;
    border: 1px solid rgb(245, 245, 245);
}

.project-container h2{
    font-size: 2rem;
}

.project-container img{
    width: 100%;
}

.project-buttons{
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 768px) {
    .portfolio-container{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin: 4em 0;
    }
    .see-more{
        display: block;
        position: fixed;
        bottom: 0;
        opacity: .7;

    }
}