section.home-items{
    grid-column-start: 1;
    grid-column-end: 2;
}

section.home-items p{
    line-height: 1.5em;
    margin: 1em 0;
}

aside.home-items {
    grid-column-start: 2;
    grid-column-end: 3;
    border-left: 0.01rem solid gray;
}

aside.home-items img {
    width: 100%;
    height: 50%;
}

.home i{
    display: inline-block;
    padding:1em;
}

.home a{
    color: black;
    text-decoration: none;
}

.home li{
    list-style: none;
}

@media only screen and (max-width: 768px) { 
.home{
    margin:3em 0; 
    display: flex;
    flex-direction: column;
}

}