.contact{
    height:80vh;
    padding: 0;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.email-form{
    padding: 0 1em;
}

form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

input{
    width: 80%;
    display: flex;
    align-items: flex-end;
    border: 1px solid black;
    font-size: 1em;
}

#message{
    padding-bottom:10em;
}

.form-button-spacer{
    margin: 0 auto;
}

@media only screen and (max-width: 768px) {
    .contact {
        margin: 5em 0;
        display: flex;
        flex-direction: column;
    }
    
    input{
        width: 70vw;
        border: 1px solid black;
    }
    
    #message{
        padding-bottom:10em;
        margin-bottom: 1em;
    }
    
    button{
        height: 5em;
        width: 10em;
        background-color: rgb(240, 169, 169);
        border-radius: 2em;
    }

    .success-message{
        padding: 2em;
    }

    .success-message h1{
        font-size: 1em;
    }
  
  }