.contact{
    height:80vh;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

input{
    width: 80%;
    display: flex;
    align-items: flex-end;
    border: 1px solid black;
    font-size: 1em;
}

#message{
    padding-bottom:10em;
}

.form-button-spacer{
    margin: 0 auto;
}

button{
    height: 5em;
    width: 10em;
    background-color: rgb(240, 169, 169);
    border-radius: 2em;
}
button:hover{
    cursor: pointer;
    background-color: rgb(245, 208, 208);
}

@media only screen and (max-width: 768px) {
    .contact {
        margin: 5em 0;
    }
    
    input{
        width: 70vw;
        border: 1px solid black;
    }
    
    #message{
        padding-bottom:10em;
        margin-bottom: 1em;
    }
    
    button{
        height: 5em;
        width: 10em;
        background-color: rgb(240, 169, 169);
        border-radius: 2em;
    }
  
  }