* {
  margin: 0;
  padding: 0;
}

body {
  background:rgb(255, 255, 255);
  font-family: sans-serif;
  text-align: none;
  color: black;
  font-size: 0.5em;
}

.mobile-icons {
  display: none;
}

main {
  margin: 0;
  font-size: 1.5rem;
}

.div-headers {
  color: rgb(255, 125, 125);
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}


main .home-items {
  padding: 1em;
}

aside.home-items {
  border-left: 0.01rem solid gray;
}

aside.home-items img {
  width: 100%;
  height: 50%;
}

@media only screen and (max-width: 768px) {
  body {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
  }
  nav {
      background-color: rgb(209, 207, 207);
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: space-between;
      border: none;
  }
  .nav-links a {
      color: white;
      font-size: 2em;
  }
  nav ul {
      border-bottom: 1px solid black;
  }
  main {
      display: flex;
      flex-direction: column;
  }

  .resume .project-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      height: 75vh;
      margin: 1em 1em;
      font-size: 1.3rem;
  }

  .resume .project-container img{
      width: 100%;
  }

  .portfolio{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
  }

  .portfolio-desc{
      margin-bottom: 1em;
  }
  footer {
      display: none;
  }
}