nav {
    height: 10vh;
    background-image: linear-gradient(to right, rgb(255, 125, 125),rgb(255, 175, 155));
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 2em;
}

nav ul{
    display: flex;
    justify-content: flex-start;
    margin-right: 1em;
}

nav h1,
nav h3 {
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2rem;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

nav h1:after {
    content: "";
    background: black;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50%;
    width: 1px;
}

nav li {
    display: inline;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    margin: 2%;
}

nav li:hover {
    color: rgb(69, 69, 69);
}

nav a {
    text-decoration: none;
}